---
layout: default
---
<div style="padding-left: 2%; padding-right: 2%;">
<p>
{% for post in site.posts %}
  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
  
  {% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
{% for tag in sortedtags %}
    <span class="tags {{ tag }}">{{ tag }}</span>
    {% endfor %}
  </p>
{% endfor %}
</div>